# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# ML
*.pkl
*.joblib
ml/models/

# Data
ml/data/raw/
ml/data/processed/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log